.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  display: grid;
  place-content: center;
  flex: 1;
  margin: 0.2rem;
  &-title {
    font-weight: 500;
    margin-top: 0.5rem;
  }
  &-img {
    transition: transform 150ms ease-in;
  }
  &-img:hover {
    transform: scale(1.03);
  }
 
}
